<p>home works!</p>
<button type="button" class="btn btn-primary" (click)="logout()">logout</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tr *ngFor="let product of products">
        <td>
            {{ product.ID }}
        </td>
        <td>
            {{ product.ProductName }}
        </td>
        <td>
            {{ product.ProductDescription }}
        </td>
        <td>
            <button class="btn btn-primary" (click)="handleDelete(product.ID)">Delete</button>
        </td>
    </tr>
</table>

<form [formGroup]="addForm">
    <fieldset>
        <legend>Add Product</legend>
        <div class="form-field">
            <label>Product Name:</label>
            <input name="productName" formControlName="productName">
        </div>
        <div class="form-field">
            <label>Product Description:</label>
            <input name="productDescription" formControlName="productDescription">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="bth btn-primary" (click)="handleAdd()">Add Product</button>
    </div>
</form>
<br />

<form [formGroup]="updateForm">
    <fieldset>
        <legend>Update Product by ID</legend>
        <div class="form-field">
            <label>ID:</label>
            <input name="Id" formControlName="Id">
        </div>
        <div class="form-field">
            <label>Product Name:</label>
            <input name="productName" formControlName="productName">
        </div>
        <div class="form-field">
            <label>Product Description:</label>
            <input name="productDescription" formControlName="productDescription">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="bth btn-primary" (click)="handleUpdate()">Update Product</button>
    </div>
</form>